*{
  margin: 0;
  padding: 0;
  background-color: #8d8d8d;
}
.Cctv {
  /*background-image: url(../../../img/cctv_back.jpg);*/
  background-size: cover;
  width: 100%;
}
.app-title {
  color: white;
  background-color: rgb(36, 36, 36);
  width: 100%;
  font-size: 4rem;
  padding-left: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.app-list{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 50px;
  color: white;
  background-color: #a5a5a5;
  font-size: 2rem;
}
.app-list ul li {
  list-style-type: none;
  float: left;
  padding-left: 8rem;
  padding-right: 8rem;
  cursor: pointer;
  background-color: #a5a5a5;
}
.app-list ul li:hover {
  color: rgb(36, 36, 36);
}
a {
  color: inherit;
  text-decoration: none;
  background-color: #a5a5a5;
}
