<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/nav') %>

    <div class="container4">
      <form action="/general" method="post">
        <h5>General</h5>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="" class="form-control" placeholder="제목">
        </div>
        
        <div class="form-group">
          <label for="body">Content</label>
          <textarea id="body" name="body" rows="5" class="form-control" placeholder="내용"></textarea>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required> 
        </div>

        <div>
          <button type="submit" class="btn btn-info">Submit</button>
          <a class="btn btn2 btn-secondary" href="/">Back</a>
        </div>

      </form>

    </div>
  </body>
</html>