
tbody {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
  padding-right: 10px;
}

.button {
  display: block;
  position: relative;
  float: left;
  width: 230px;
  height: 140px;
  padding: 0;
  margin: 10px 10px 0px 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: rgb(39, 28, 28);
  border-radius: 30px;
  transition: all 0.2s ;
}

.btnLightBlue {
  background: rgb(226, 207, 62);
  border: #c16a2c;
}
.btnLightBlue.btnPush {
  box-shadow: 0px 30px 0px 0px rgb(181, 110, 67);
}
.btnLightBlue.btnPush:active {
  padding-top: 14px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #c16a2c;
}