.tem{
  background-color: rgb(170, 204, 211);
  padding-bottom: 80px;
}

tbody {
  border : 15px solid rgb(51, 51, 51);
  
}

input[type="checkbox"] {
  margin-left: 70px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 10px solid rgb(51, 51, 51);
  background-color: rgb(170, 204, 211);
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="checkbox"]:checked {
  margin-left: 70px;
  background: rgb(226, 93, 69);
  border: none;
}

