.list {
  display: flex;
  float: left;
  text-align: center;
  margin-top: 5px;
  background-color: rgb(170, 204, 211);
}
.tem1 {
  padding-right: 250px;
  background-color: rgb(170, 204, 211);
}
.tem1 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 250px;
  margin-left: 30px;
  color: rgb(51, 51, 51);
  background-color: rgb(170, 204, 211);
}
.tem2 {
  padding-right: 250px;
  background-color: rgb(170, 204, 211);
}
.tem2 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 250px;
  margin-left: 30px;
  color: rgb(51, 51, 51);
  background-color: rgb(170, 204, 211);
}
.tem3 {
  background-color: rgb(170, 204, 211);
}
.tem3 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 250px;
  margin-left: 30px;
  color: rgb(51, 51, 51);
  background-color: rgb(170, 204, 211);
}