* {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 182, 163);
}
.first {
  width: 100%;
  background-size: cover;
} 
.app-title {
  color: white;
  font-size: 200px;
  padding-left: 8rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
  margin-right: 6rem;
}
.tem {
  margin-top: 1rem;
}
.lbox1 {
  padding-right: 4rem;
  margin-left: 10rem;
}
.lbox1 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 250px;
  color: white;
}
.light {
  display: flex;
  float: left;
  text-align: center;
  margin-top: 500px;
}
.window {
  display: flex;
  float: left;
  margin-top: 490px;
  margin-left: 100px;
}
.window1 {
  margin-left: 200px;
  margin-top: 2px;
}
.window1 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  margin-left: 160px;
  color: white;
}

.blind {
  display: flex;
  float: left;
  margin-top: 490px;
  margin-left: 100px;
}
.blind1 {
  margin-left: 300px;
}
.blind1 p {
  font-size: 130px;
  font-weight: 600;
  padding-top: 50px;
  margin-left: 40px;
  color: white;
}

