.final {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  height: 100vh;
  background-image: url(../../img/exer_back2.jpg);
  background-size: cover;
}
