*{
  margin: 0;
  padding: 0;
  background-color: #54bdee;;
}
.First {
  background-size: cover;
  width: 100%;
}
.tem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  border: 10px solid #0c7ac3;
  border-radius: 50px;
  padding: 200px;
}

p {
  margin: 100px;
}
h2{
  margin-bottom: 100px;
}