* {
  margin: 0;
  padding: 0;
  background-color: #54bdee;
}
.tem {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  line-height: 2rem;
  border: 10px solid #0c7ac3;
  border-radius: 50px;
  padding: 2rem 2rem;
}
h2, p {
  padding: 70px;
  color: white;
}
