*{
  margin: 0;
  padding: 0;
  background-color: #54bdee;;
}
.First {
  background-size: cover;
  width: 100%;
}
.app-title {
  color: white;
  font-size: 100px;
  margin-top: 200px;
  margin-left: 350px;
}
.content{
  width: 15%;
  margin-top: 10rem;
  margin-left: 8rem;
  font-size: 1.3rem;
  line-height: 2rem;
  border: 10px solid #0c7ac3;
  border-radius: 50px;
  padding: 2rem 2rem
}
p {
  color: white;
}