<!DOCTYPE html>
    <html>
      <head>
        <%- include('../partials/head') %>
      </head>
      <body>
        <%- include('../partials/nav') %>
        <!-- res.send(`시간 : ${time} 날씨 정보 : ${weather} 값 : ${wea_val}`); -->
        <h1><%= data %></h1>
        <h1><%= pm10 %></h1>
      </body>
    </html>