*{
  margin: 0;
  padding: 0;
  background-color: #8d8d8d;
}
.Cctv {
  background-size: cover;
  width: 100%;
}
.app-title {
  color: white;
  font-size: 4rem;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  margin-right: 6rem;
}
.app-list{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
ul{
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: #6e6e6e;
}
li {
  list-style-type: none;
  float: left;
  padding-left: 8rem;
  padding-right: 8rem;
  cursor: pointer;
  background-color: #6e6e6e;
}
.app-list ul li:hover {
  color: rgb(36, 36, 36);
}
a {
  color: inherit;
  text-decoration: none;
  background-color: #6e6e6e;
}